/*BREAKPOINT*/

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 1200px) {
	.header {
		padding: 2rem 3%;
	}

	section {
		padding: 10rem 3%;
	}

	.services {
		padding: 7rem;
	}

	.portfolio {
		padding-bottom: 7rem;
	}

	.contact {
		min-height: auto;
	}

	.footer {
		padding: 2rem 3%;
	}
}

@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}

	.home{
		flex-direction: column;
	}

	.home-content h3 {
		font-size: 5rem;
	}

	.home-content h1 {
		font-size: 5rem;
	}

	.home-content {
		order: 2;
	}

	.home-img img {
		width: 60vw;
		margin-top:  4rem;
	}

	.about {
		flex-direction: column;
	}

	.about-img img {
		width: 90vw;
		margin-top:  4rem;
	}

	.services h2 {
		margin-bottom: 3rem;
	}

	.portfolio h2 {
		margin-bottom: 3rem;
	}

	.portfolio-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 617px) {
	.portfolio-container {
		grid-template-columns: 1fr;
	}

	.home-img img {
		width: 70vw;
		margin-top: 8rem;
	}

	.about-img img {
		width: 100vw;
		margin-top: 4rem;
	}

}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.contact transform .input-box input {
		width: 100%;
	}
}